img[alt="logo"] {
        width: 40px;
        height: 40px;
    }
.quote-container {
      margin-top: 20px;
      padding: 15px;
      background-color: transparent;
      border-radius: 8px;
      border: 1px solid #6a0dad ;
      background: rgba(0, 0, 0, 0.2);
      text-align: justify;
      margin: 0 auto;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      align-items: center;
      color: white;
    }

img[name="git"] {
      width: 48px;
      height: 48px;
      vertical-align: middle;
      margin-left: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background-color: transparent;
}

h1[name="hptitle"], h2[name="hpsubtitle"], h3[name="hpauthor"] {
      text-align: center;
      color: #fff;
      margin: 10px 0;
    }

.descricao {
  text-align: center;
  color: #fff;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div[name="descricao-container"] {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
}

img[name="logo-site"] {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background-color: #3c096c;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8%;
}
img[name="logo-site"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
